* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #bb8cf0;
  color: white;
  padding: 1rem;
  text-align: center;
}
.creation{
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.create-btn{
  background-color: #bb8cf0de;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  padding: 12px 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(58, 57, 57, 0.1);
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(58, 57, 57, 0.1);
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

#author-list {
  list-style: none;
}

#author-list li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

#author-list li:hover {
  background: #eee;
}

#author-list li.active {
  background: #a282c0;
  font-weight: bold;
}

.content {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(58, 57, 57, 0.1);
}

.content h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fafafa;
    position: relative;
}

.post p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.read-more {
  background: #b882d8;;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.read-more:hover {
  background: #a36ecf;;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#modal-title {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#modal-comments h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.comment {
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border-left: 4px solid #a36ecf;
}

.comment p {
  margin: 5px 0;
  font-size: 0.9em;
}

.like {
  position: absolute;
  top:10px;
  right: 10px;
  color: red;
}

.btn-like{
  cursor: pointer;
}